@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  html {
    color-scheme: dark;
  }
}

/* Tiptap editor cursor */
.tiptap p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: theme('colors.slate.600');
  pointer-events: none;
  height: 0;
}
